@model IEnumerable<Banking.Models.BankDetail>
@{
    ViewData["Title"] = "BankDetails";
}

<h1>Bank Details</h1>

<div class="row">
    <div class="col-sm-12" style="padding:0px">
        <hr />
        <table id="bankdetailTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>EffectiveDate</th>
                    <th>TransactionCode </th>
                    <th class="text-center">TransactionAmount</th>
                    <th>TransactionDate</th>
                    <th>TransactionTime</th>
                    <th>DrCrIndicator</th>
                    <th>StandardBank</th>
                    <th>BranchCode</th>
                    <th>ReferenceNumber</th>
                    <th>AccountNumber</th>
                    <th>Identifier </th>

                </tr>
            </thead>

            <tfoot class="thead-dark">
                <tr>
                    <th>EffectiveDate</th>
                    <th>TransactionCode </th>
                    <th class="text-center">TransactionAmount</th>
                    <th>TransactionDate</th>
                    <th>TransactionTime</th>
                    <th>DrCrIndicator</th>
                    <th>StandardBank</th>
                    <th>BranchCode</th>
                    <th>ReferenceNumber</th>
                    <th>AccountNumber</th>
                    <th>Identifier </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.EffectiveDate
                        </td>
                        <td>@item.TransactionCode</td>
                        <td> @item.TransactionAmount</td>
                        <td> @item.TransactionDate</td>
                        <td>@item.TransactionTime</td>
                        <td>@item.DrCrIndicator</td>
                        <td>@item.StandardBank</td>
                        <td>@item.BranchCode</td>
                        <td>@item.ReferenceNumber</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.Identifier</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $("#bankdetailTable").DataTable({
                "Ajax": {
                    "url": "/App/BankDetails",
                    "type": "Get",
                    "dataType": "Json"
                },
                "columns": [
                    { "data": "EffectiveDate" },
                    { "data": "TransactionCode" },
                    { "data": "TransactionAmount" },
                    { "data": "TransactionDate" },
                    { "data": "TransactionTime" },
                    { "data": "DrCrIndicator" },
                    { "data": "StandardBank" },
                    { "data": "BranchCode" },
                    { "data": "ReferenceNumber" },
                    { "data": "AccountNumber" },
                    { "data": "Identifier" }
                ]
            })
        });
    </script>
}